.map {
    height: 50%;
    width: 57%;
    @media (max-width: 768px) {
        width: 90%;
    }
}


.title{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}